{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Sangre es vida</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Medican transfusinal del hosital de clinica al servicion de la poblacion. Adaministrando sangre que es vida </p>
            <p>Hospital de clinicas el hospital de tercer nivel transafusiones de sangre segura</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}